#developerName {
  color: rgb(176, 131, 248);
  font-size: 6em;
}

#jobDescription {
  font-size: 3em;
}

#lead {
  font-size: 2.5em;
}

.vertical-stretch {
  height: 100vh;
}

h4 {
  color: #e0ffe0;
}
h4:hover {
  background-color: #353a35;
}

/* #aeffae */
/* #353a35; */
/* #fdfaf2 */
