/* h1 {font-size: 10em;} */

#developerName {
  color: rgb(176, 131, 248);
  font-size: 8em;
}

#jobDescription {
  font-size: 4em;
}

#lead {
  font-size: 2.5em;
}

.vertical-stretch {
  height: 100vh;
}
