#developerName {
  color: rgb(176, 131, 248);

  font-size: 7em;
}

#lead {
  font-size: 3em;
}

#jobDescription {
  font-size: 3em;
}

.vertical-stretch {
  height: 100vh;
}

h4 {
  color: black;
  font-family: "Oswald", sans-serif;
}
h4:hover {
  background-color: #aeffae;
}

a:hover {
  text-decoration: none;
}
